*{
    padding: 0px;
    margin: 0px;
}
header{
    background-color: pink;
    color: white;
}
.main{
    background-color: pink;
}
body{
    background-color: #EDEDED;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-size: 36%;
    color: black;
    font-weight: bold;
    width: 120px;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    color: black;
    text-transform: uppercase;
}
.navbar a{
    margin-right: 20px;
    text-decoration: none;
    color: black;
}
.navbar a:hover{
    color: white;
}


.container{
    width: 100%;
    padding-top: 10px;
    margin: 0 auto;
    text-align: center;
}
.card{
    text-align:center;
    background: white;
    border-radius: .5rem;
    padding: 3rem 2rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
}
.bestandlates{
    display:flex;
    flex-wrap:wrap; 
   justify-content:space-evenly; 
    padding:50px 0px;
    background: pink;
}
.skinz{
    width:200px;
    border-radius: 15px; 
}

body{
    background-color: rgb(214, 205, 205);
}
.container1{
    display: flex;
    min-height: 100vh;
}
.sidebar{
    background-color: #C4C4C4;
    width: 260px;
    padding: 24px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
}
.main-content{
    position: absolute;
    width: 281px;
    height: 48px;
    left: 41px;
    top: 146px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
}
footer {
    bottom: 0;
}

.footer {
    background-color: pink;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
    display: inline-block;
    vertical-align: top;
}

@media (max-height: 800px){
    footer {
        position: static;
    }
}

.footer .footer-left{
    width: 30%;
}

.footer h3{
    color: black;
    margin: 0;
    padding-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 35px;
}

.footer .footer-left img {
    width: 25%;
    margin: 0;
    vertical-align: middle;
}

.footer .footer-left .credit-card{
    width: 100%;
}

.footer .footer-copyright{
    color: black;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    padding-top: 5%;
    padding-left: 35px;
}

.footer .footer-right{
    width: 30%;
}

.footer .footer-center{
    width: 35%;
}

.footer .footer-center p {
    display: inline-block;
    color: black;
    vertical-align: middle;
    margin: 0px;
}

.footer .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer .footer-about{
    line-height: 20px;
    color: black;
    font-size: 13px;
    font-weight: normal;
    margin: 0px;
}

.footer .footer-about span{
    display: block;
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer .footer-media{
    margin-top: 15px;
}

.footer .footer-media a {
    display: inline-block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 20px;
    color: white;
    text-align: center;
    line-height: 50px;
    margin-right: 3px;
    margin-bottom: 5px;
}

/* sidebar */
  .sidebar {
    position: fixed;
    left: 0px;
    width: 250px;
    height: 100%;
    background: pink;
    transition: all .5s ease;
  }
  .sidebar header {
    font-size: 22px;
    color: white;
    line-height: 70px;
    text-align: center;
    background: pink;;
    user-select: none;
  }
  .sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    border-top: 1px solid rgba(255,255,255,.1);
    transition: .4s;
  }
  ul li:hover a{
    padding-left: 50px;
  }
  .sidebar ul a i{
    margin-right: 16px;
  }
  #check{
    display: none;
  }
  label #btn,label #cancel{
    position: absolute;
    background: black;
    border-radius: 3px;
    cursor: pointer;
  }
  label #btn{
    left: 250px;
    top: 25px;
    font-size: 35px;
    color: white;
    padding: 6px 12px;
    opacity: 0;
    pointer-events: none;
    transition: all .5s;
  }
  label #cancel{
    z-index: 1111;
    left: 195px;
    top: 17px;
    font-size: 30px;
    color: pink;;
    padding: 4px 9px;
    transition: all .5s ease;
  }
  #check:checked ~ .sidebar{
    left: -250px;
  }
  #check:checked ~ label #btn{
    left: 40px;
    opacity: 1;
    pointer-events: auto;
  }
  #check:checked ~ label #cancel{
    left: -195px;
  }
  #check:checked ~ section{
    margin-left: 0px;
  }
  section{
    background: url(bg.jpeg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: all .5s;
    margin-left: -250px;
  }


